<a href="https://colab.research.google.com/github/rancel-rana/-rancel-rana-DWP-and-Tech-lab-Practicals/blob/main/DWP_Pract_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# To delete missing values
import pandas as pd

# Sample DataFrame with missing values
data = {'Age': [25, None, 30, 22, None],
        'Gender': ['M','F','M','F',None]}

df = pd.DataFrame(data)
print(df)
print(df.isna().sum())

# Drop rows with any missing values
df_complete_case = df.dropna()
print(df_complete_case)

    Age Gender
0  25.0      M
1   NaN      F
2  30.0      M
3  22.0      F
4   NaN   None
Age       2
Gender    1
dtype: int64
    Age Gender
0  25.0      M
2  30.0      M
3  22.0      F

In [ ]:
# Handling Missing Numerical Data (Mean or Median Imputation)

# Mean Imputation
df['Age_mean_imputed'] = df['Age'].fillna(df['Age'].mean()) #type(df['age'])
print(df)

# Median Imputation
df['Age_median_imputed'] = df['Age'].fillna(df['Age'].median())
print(df)

    Age Gender  Age_mean_imputed
0  25.0      M         25.000000
1   NaN      F         25.666667
2  30.0      M         30.000000
3  22.0      F         22.000000
4   NaN   None         25.666667
    Age Gender  Age_mean_imputed  Age_median_imputed
0  25.0      M         25.000000                25.0
1   NaN      F         25.666667                25.0
2  30.0      M         30.000000                30.0
3  22.0      F         22.000000                22.0
4   NaN   None         25.666667                25.0

In [ ]:
# End of Distribution Imputation
# Missing values can be replaced with a value at the end of the distribution, such as the minimum or maximum value.

# Replace with minimum value
df['Age_min_imputed'] = df['Age'].fillna(df['Age'].min())
print(df)

# Replace with maximum value
df['Age_max_imputed'] = df['Age'].fillna(df['Age'].max())
print(df)

    Age Gender  Age_mean_imputed  Age_median_imputed  Age_min_imputed
0  25.0      M         25.000000                25.0             25.0
1   NaN      F         25.666667                25.0             22.0
2  30.0      M         30.000000                30.0             30.0
3  22.0      F         22.000000                22.0             22.0
4   NaN   None         25.666667                25.0             22.0
    Age Gender  Age_mean_imputed  Age_median_imputed  Age_min_imputed  \
0  25.0      M         25.000000                25.0             25.0
1   NaN      F         25.666667                25.0             22.0
2  30.0      M         30.000000                30.0             30.0
3  22.0      F         22.000000                22.0             22.0
4   NaN   None         25.666667                25.0             22.0

   Age_max_imputed
0             25.0
1             30.0
2             30.0
3             22.0
4             30.0

In [ ]:
# Arbitary Value Imputation
# You can replace missing values with a custom value, like 0 or a placeholder such as -1.

df['Age_arbitary_imputed'] = df['Age'].fillna(-1)
print(df)

    Age Gender  Age_mean_imputed  Age_median_imputed  Age_min_imputed  \
0  25.0      M         25.000000                25.0             25.0
1   NaN      F         25.666667                25.0             22.0
2  30.0      M         30.000000                30.0             30.0
3  22.0      F         22.000000                22.0             22.0
4   NaN   None         25.666667                25.0             22.0

   Age_max_imputed  Age_arbitary_imputed
0             25.0                  25.0
1             30.0                  -1.0
2             30.0                  30.0
3             22.0                  22.0
4             30.0                  -1.0

In [ ]:
# Frequent category imputation
# Replace missing values in categorical coluns with the most frequent (mode) category

df['Gender_frequent_imputed'] = df['Gender'].fillna(df['Gender'].mode()[0])
print(df)

    Age Gender  Age_mean_imputed  Age_median_imputed  Age_min_imputed  \
0  25.0      M         25.000000                25.0             25.0
1   NaN      F         25.666667                25.0             22.0
2  30.0      M         30.000000                30.0             30.0
3  22.0      F         22.000000                22.0             22.0
4   NaN   None         25.666667                25.0             22.0

   Age_max_imputed  Age_arbitary_imputed Gender_frequent_imputed
0             25.0                  25.0                       M
1             30.0                  -1.0                       F
2             30.0                  30.0                       M
3             22.0                  22.0                       F
4             30.0                  -1.0                       F